*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Variables */

:root {
  --lightBlue: #3288cc;
  --orange: #ffa72f;
  --white: #f3f3f3;
  --beige: #f0ecde;
  --grey: #707070;
  --darkBlue: #455475;

  --mellemSection: 2.5rem;
  --mellemElementer: 1.25rem;
}

/* Generel styling */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: var(--lightBlue);
}

p {
  font-size: 1rem;
  color: var(--grey);
  line-height: 1.5rem;
}

/* header start */
.navbar {
  background-color: var(--lightBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
/* header slut */

/* footer start */
.soMe {
  background-color: var(--lightBlue);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.soMe p {
  color: var(--white);
  font-weight: bold;
}

.footerIcons {
  font-size: 30px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
/* footer slut */

/* index start */
/* index slut */

/* program start */
/* program slut */

/* spillesteder start */
/* spillesteder slut */

/* nyheder start */
/* nyheder slut */

/* praktisk information start */

h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.praktiskInf {
  background-color: var(--beige);
  border-radius: 0px 100px 0px 100px;
  padding-bottom: 40px;
}
.praktiskInf p {
  padding-top: 30px;
}

.praktiskKnap {
  background-color: #e26c1b;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 13px 35px;
  display: inline-block;
  font-size: 16px;
  margin-top: 30px;
  margin-left: 100px;
}
.praktiskKnap a {
  text-decoration: none;
  color: var(--white);
}
h2 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.PraktisAccordion {
  background-color: var(--lightBlue);
  color: var(--white);
  padding: 18px;
  text-align: left;
  transition: 0.4s;
  width: 85%;
  margin-bottom: 5px;
  border-style: solid;
  border-color: #333333;
  border-width: thin;
}

.accordionIndhold {
  background-color: var(--beige);
  display: none;
  overflow: hidden;
  background-color: #eeede8;
}
.accordionIndhold p {
  padding-top: 0px;
}

.PraktisAccordion:after {
  content: "\02795"; /* Unicode */
  font-size: 13px;

  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode */
}

/* praktisk information slut */

/* kontakt start */
/* kontakt slut */

/* sponsorater start */
/* sponsorater slut */
