*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
 }

 /* Variables */

 :root{
    --lightBlue: #3288CC;
    --orange: #FFA72F;
    --white: #F3F3F3;
    --beige: #F0ECDE;
    --grey: #707070;
    --darkBlue: #455475;

    --mellemSection: 2.5rem;
    --mellemElementer: 1.25rem; 
 }

 /* Generel styling */

 h1{ 
    font-size: 2rem;
 }

 h2{
    font-size: 1.5rem;
    color: var(--lightBlue);
 }

 p{
    font-size: 1rem;
    color: var(--grey);
    line-height: 1.5rem;
 }


 /* header start */
    .navbar{
        background-color: var(--lightBlue);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
 /* header slut */

 /* footer start */
    .soMe {
        background-color: var(--lightBlue);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .soMe p{
        color: var(--white);
        font-weight: bold;
    }

    .footerIcons{
        font-size: 30px;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
 /* footer slut */

 /* index start */
 /* index slut */


 /* program start */
 /* program slut */


 /* spillesteder start */
 /* spillesteder slut */


 /* nyheder start */
 /* nyheder slut */

 /* praktisk information start */
 /* praktisk information slut */

 /* kontakt start */
 /* kontakt slut */

 /* sponsorater start */
 .sponsoratH1 {
   display: flex;
   justify-content: center;
   align-items: center;
   color: var(--darkBlue);
   padding: 3rem;
 }

 .sponsoratBackground1 {
   background: var(--beige);
   border-radius: 0px 100px 0px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 5rem;
   padding-bottom: 3rem;
   padding-top: 3rem;
   margin-bottom: 60px;
 }

 .sponsoratBackground1 img {
   width: 50%;
 }

 .sponsoratBackground2 {
   background: var(--beige);
   border-radius: 100px 0px 100px 0px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding-bottom: 3rem;
   padding-top: 3rem;
   margin-bottom: 60px;
 }

 .sponsoratBackground2 h2, ul, li {
   margin: 10px;
 }

 .sponsoratBackground2 ul {
   margin-top: 1.5rem;
 }

 .sponsoratBackground2 h2 {
   padding: 0 2rem;
 }

 .sponsoratBackground2 p {
   margin: 0 40px;
 }

 .sponsoratBackground2 article {
   margin-bottom: 2rem;
 }
 /* sponsorater slut */


